.ec-form-page{
    height: fit-content;
    min-height: 100vh;
    box-sizing: border-box;
}
.recruitment-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  .title-rec-form{
    margin-bottom: 40px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: fit-content;
    font-size: 30px;
    padding-top: 170px;
    margin: 0 auto 50px;
  }
  .title-rec-form::after{
    content: "";
    width: 100%;
    height: 4px;
    background: #740606;
    position: absolute;
    bottom: -10px;
    left: 2px;
    border-radius: 15px;
  }
  label {
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="file"] {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  input[type="file"]::-webkit-file-upload-button{
    visibility: hidden;
  }
  .recruitment-form input[type="file"]::before{
    content: 'Choisir un fichier ';
  display: inline-block;
  background: none;
  border: none;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;

  cursor: pointer;
  text-shadow: 1px 1px #fff;
 
  font-size: 14px;
  font-family: 'Poppins';
  color: #ccc;
  }
  .recruitment-form button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #740606;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  @media screen and (max-width:1000px){
    .title-rec-form{
        font-size: 20px;
    }
  }
  @media screen and (max-width:400px){
    .title-rec-form{
        font-size: 16px;
        font-family: 400;
    }
    .recruitment-form{
        max-width: 310px;
    }
    .recruitment-form input[type="file"]::before{
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .recruitment-form input[type="file"]{
        position: relative;
        padding-left: 60px;
    }

    
  }