.backconnaitre{
    background-image: url('../images/backcon.jpg');
    height: 80vh;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 70px;
}

.title-back-connaitre{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
    position: relative;
}
.back-con-line1{
width: 80%;
height: 4px;
background: white;
}
@media screen  and (max-width:450px) {
    .title-back-connaitre{
        font-size: 22px;
    }
    .backconnaitre{
        height: 50vh;
    }
}