@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Poppins&display=swap');
.App {
  height: fit-content;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}
